<h1>New Article</h1>

<%= form_with scope: :article, url: articles_path, local: true do |form| %>
  <p>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </p>
  <p>
    <%= form.label :text %>
    <%= form.text_area :text %>
  </p>
  <%= form.submit %>
<% end %>